/* Grid */
body > main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 7rem);
  padding: 1rem 0;
}

article {
  padding: 0;
  overflow: hidden;
}

article div {
  padding: 1rem;
}

@media (min-width: 576px) {
  body > main {
    padding: 1.25rem 0;
  }

  article div {
    padding: 1.25rem;
  }
}

@media (min-width: 768px) {
  body > main {
    padding: 1.5rem 0;
  }

  article div {
    padding: 1.5rem;
  }
  #search-form {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

@media (min-width: 992px) {
  body > main {
    padding: 1.75rem 0;
  }

  article div {
    padding: 1.75rem;
  }
  #search-form {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

@media (min-width: 1200px) {
  body > main {
    padding: 2rem 0;
  }

  article div {
    padding: 2rem;
  }
  #search-form {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 13rem;
    padding-right: 13rem;
  }
}

/* Nav */
summary[role="link"].secondary:is([aria-current], :hover, :active, :focus) {
  background-color: transparent;
  color: var(--secondary-hover);
}

@media (min-width: 992px) {
  .grid > div:nth-of-type(2) {
    display: block;
  }
}

/* Footer */
body > footer {
  padding: 1rem 0;
}

.results {
  text-align: center;
  padding-top: 2rem;
}

.results h1 {
  font-size: 1.4rem;
}

.results h2 {
  font-size: 1.2rem;
}

table {
  border-collapse: separate;
  border-spacing: 0 0.4rem;
}

tr {
  box-shadow: 1px 1px 2px #d1d1d1;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

td p {
  margin-bottom: 0;
}

.hora {
  font-size: 0.875rem;
}

.duration {
  font-size: 0.7rem;
}

@media screen and (max-width: 768px) {
  th {
    padding: 3px;
  }
  #tables tr > *:nth-child(5) {
    display: none;
  }
  #arrow-full {
    display: none;
  }
  #search-form {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

h2 a {
  color: #415462;
}

h2 a:hover {
  text-decoration: none;
  color: #181f24;
}

#main-title {
  font-size: 2rem;
}

#origen {
  margin-bottom: 0.4rem;
}
#date {
  color: #73828c;
  text-align: left;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

td p {
  margin-bottom: 0;
  font-size: 0.875rem;
}

.duration {
  font-size: 0.7rem;
}

#search-form {
  text-align: center;
}

#source {
  text-align: left;
  font-size: 0.8rem;
  color: #75838d;
  margin-bottom: 0;
}

#source a {
  color: #5f686d;
}

#notas {
  font-size: 0.7rem;
}

#fecha-ruta {
  font-size: 0.8rem;
}

footer a {
  text-decoration: none;
}
